# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store

# Platform build artifacts (dihasilkan `flutter create .`)
android/.gradle/
ios/Pods/
ios/.symlinks/
